<div class="tree-container">
	<cdk-virtual-scroll-viewport itemSize="40" class="tree-viewport">
		<div
			*cdkVirtualFor="let node of visibleNodes()"
			class="tree-node"
			[class]="selectedNodes().has(node.id) ? 'selected' : ''"
			[style.padding-left.px]="node.level * 24"
			(click)="selectNode(node.id)"
			(dblclick)="toggleNode(node)"
			[class.clickable]="node.expandable"
		>
			@if (node.expandable) {
				<span class="arrow" (click)="toggleNode(node)">
					{{ node.isExpanded ? "▼" : "►" }}
				</span>
			} @else {
				<span class="spacer">•</span>
			}

			<span class="node-name" [class]="node.type">
				@if (treeElementTemplate(); as template) {
					<ng-container *ngTemplateOutlet="template; context: {$implicit: node}"></ng-container>
				} @else {
					{{node.name}}
				}
			</span>
		</div>
	</cdk-virtual-scroll-viewport>
</div>
